packaging_format = 2

id = "documize"
name = "Documize"
description.en = "Confluence alternative designed for internal & external docs"
description.fr = "Alternative à Confluence conçue pour les documents internes et externes"

version = "5.14.0~ynh2"

maintainers = ["eric_G"]

[upstream]
license = "AGPL-3.0-only"
website = "https://www.documize.com"
demo = "https://docs.documize.com/"
admindoc = "https://docs.documize.com"
code = "https://github.com/documize/community"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "arm64", "armhf"]
multi_instance = true

ldap =  false
sso =  false

disk = "50M"
ram.build = "350M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        amd64.url = "https://github.com/documize/community/releases/download/v5.14.0/documize-community-linux-amd64"
        amd64.sha256 = "be729653f76fde784a339a7e89b48481db322502ef28e0e32f3df057790efb8f"
        arm64.url = "https://github.com/documize/community/releases/download/v5.14.0/documize-community-linux-arm64"
        arm64.sha256 = "55b2c4d4525931fc5828dfd6f13378642e7401b51a77bd1db1822c4c4ee1b847"
        armhf.url = "https://github.com/documize/community/releases/download/v5.14.0/documize-community-linux-arm"
        armhf.sha256 = "a364f6702913db2a24d3b23b413c06bac59ae1b7ae99fd23127d8cfe3d83c6b3"
        extract   = false
        in_subdir = false
        rename    = "documize"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^documize-community-linux-amd64$"
        autoupdate.asset.arm64 = "^documize-community-linux-arm64$"
        autoupdate.asset.armhf = "^documize-community-linux-arm$"

    [resources.system_user]

    [resources.install_dir]

    [resources.ports]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.apt]
    packages = "postgresql"
    
    [resources.database]
    type = "postgresql"
