[Unit]
Description=Documize: internal & external docs
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/documize __INSTALL_DIR__/documize.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
